<!-- Header -->
<section id="header">

  <!-- Tab Bars -->
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#microsoftdesign" aria-controls="microsoftdesign" role="tab" data-toggle="tab">@microsoftdesign</a></li>
      <li role="presentation"><a href="#EMCcorp" aria-controls="EMCcorp" role="tab" data-toggle="tab">@EMCcorp</a></li>
      <li role="presentation"><a href="#add-account" aria-controls="add-account" role="tab" data-toggle="tab"><i class="fa fa-plus"></i></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="microsoftdesign">

<!-- Content Section -->
<section id="content">
  <div class="container section-container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 section-header-container">
        <h2>Content</h2>
        <ul>
          <li><i class="fa fa-user"></i> Current follower count: <strong> {{user.followers_count}}</strong></li>
          <li><i class="fa fa-clock-o"></i> Average time to respond: <strong>10s</strong></li>
          <li><i class="fa fa-reply-all"></i> Mentions replied to: <strong>45%</strong></li>
        </ul>
      </div>
    </div>
    <div class="row module-row">
      <div class="col-sm-4 module-wrapper">
        <div class="module">
          <h5>total followers vs. engagements</h5>
          <canvas id="line" class="chart chart-line" data="lineData"
            labels="lineLabels" legend="true" series="lineSeries"
            click="onClick" options="lineOptions">
          </canvas>
        </div>
      </div>
      <div class="col-sm-4 module-wrapper">
        <div class="module">
          <h5>total tweets</h5>
          <canvas id="bar" class="chart chart-bar" data="barData"
            labels="barLabels" series="barSeries"></canvas>
        </div>
      </div>
      <div class="col-sm-4 module-wrapper">
        <div class="module">
          <h5>engagements breakdown</h5>
          <canvas id="doughnut" class="chart chart-doughnut" data="donutData"
            labels="donutLabels"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Audience Section -->
<section id="audience">
  <div class="container section-container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 section-header-container">
        <h2>Audience</h2>
      </div>
    </div>
    <div class="row module-row">
      <div class="col-sm-4 module-wrapper">
        <div class="module">
          <h5>Table</h5>
          <p>top words in follower bios</p>
          <div class="submodule-wrapper">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Words</th>
                  <th>Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>social</td>
                  <td>89</td>
                </tr>
                <tr>
                  <td>media</td>
                  <td>76</td>
                </tr>
                <tr>
                  <td>microsoft</td>
                  <td>55</td>
                </tr>
                <tr>
                  <td>emc</td>
                  <td>43</td>
                </tr>
                <tr>
                  <td>tech</td>
                  <td>27</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-4 module-wrapper">
        <div class="module">
          <h5>Table</h5>
          <p>most frequently followed by followers</p>
          <div class="submodule-wrapper">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Followers</th>
                  <th>Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>@crownsocial</td>
                  <td>34</td>
                </tr>
                <tr>
                  <td>@zapan</td>
                  <td>47</td>
                </tr>
                <tr>
                  <td>@nnjashan</td>
                  <td>23</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-4 module-wrapper">
        <div class="module">
          <h5>Map</h5>
          <p>heat map of follower locations</p>
          <div class="submodule-wrapper">
            <div id='map'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Trends Section -->
<section id="trends">
  <div class="container section-container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 section-header-container">
        <h2>Trends</h2>
      </div>
    </div>
    <div class="row module-row">
      <div class="col-sm-6 module-wrapper">
        <div class="module">
          <h5>Influencers</h5>
          <p>top post by each influencer</p>
            <div class="trend-module" ng-repeat="influencer in user.influencer">
              <img ng-src="{{influencer.data.data[0].user.profile_image_url.replace('_normal.', '.')}}" alt="">
              <div class="trend-submodule-left">
                <a href="http://twitter.com/{{influencer.name}}">@{{influencer.name}}</a>
              </div>
              <div class="trend-submodule-right">
                  <a href="#">{{influencer.data.data[0].text}}</a>
              </div>
            </div>
            <div ng-repeat="i in user.influencer.addLength track by $index" class="trend-module-add" ng-if="user.influencer.addable">
              <div class="trend-submodule-center">
                <a class="text-center form-link" ng-click="showForm = !showForm" ng-hide="showForm"> click here to add another influencer </a>
              </div>
              <div class="trend-submodule-center" ng-show="showForm">
                <form role="form" ng-submit="createTracker(newTracker, 'influencer')">
                  <div class="form-group">
                    <label for="newTracker">new influencer</label>
                    <input type="text" class="form-control" id="newTracker[{{$index}}]" placeholder="e.g. @someperson" ng-model="newTracker">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button><button class="btn btn-danger" ng-click="showForm = !showForm">Cancel</button>
                </form>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6 module-wrapper">
        <div class="module">
          <h5>Hashtags</h5>
          <p>top hashtag usages</p>
            <div class="trend-module" ng-repeat="hashtag in user.hashtag">
              <img ng-src="{{hashtag.data.data[0].user.profile_image_url.replace('_normal.', '.')}}" alt="">
              <div class="trend-submodule-left">
                <a href="http://twitter.com/{{hashtag.name}}">#{{hashtag.name}}</a>
              </div>
              <div class="trend-submodule-right">
                  <a href="#">{{hashtag.data.data[0].text}}</a>
              </div>
            </div>
            <div ng-repeat="i in user.hashtag.addLength track by $index" class="trend-module-add" ng-if="user.hashtag.addable">
              <div class="trend-submodule-center">
                <a class="text-center form-link" ng-click="showForm = !showForm" ng-hide="showForm"> click here to add another hashtag </a>
              </div>
              <div class="trend-submodule-center" ng-show="showForm">
                <form role="form" ng-submit="createTracker(newTracker, 'hashtag')">
                  <div class="form-group">
                    <label for="newTracker">new hashtag</label>
                    <input type="text" class="form-control" id="newTracker[{{$index}}]" placeholder="e.g. #awesome" ng-model="newTracker">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button><button class="btn btn-danger" ng-click="showForm = !showForm">Cancel</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CTA Section -->
<section id="cta">
  <div class="container section-container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 section-header-container">
        <h2>CTA</h2>
      </div>
    </div>
    <div class="row module-row">
      <div class="col-sm-12 module-wrapper">
        <div class="module">
          <h5>Email Alert Settings</h5>
            <div ng-show="$root.currentUser">
              <input type="email" ng-model="settings.email" placeholder="Enter your email to recieve notifications">
              <button class="btn btn-primary" ng-click="updateEmail()">{{settings.email ? 'Change' : 'Save'}} Email</button>
              <div ng-show="settings.email">
                <label for="email-toggle">Email notifications are turned {{settings.emailToggle ? 'on' : 'off'}}</label>
                <input type="checkbox" ng-model="settings.emailToggle" name="emailToggle" id="emailToggle" ng-change="updateNotify()">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


      </div>
      <div role="tabpanel" class="tab-pane" id="EMCcorp"></div>
      <div role="tabpanel" class="tab-pane" id="add-account"></div>
    </div>
  </div>
</section>