<!-- Header -->
<section id="header">

<!-- Content Section -->
<section id="content" ng-show="$root.currentUser">
<h2>Content</h2>
  <div id="graph-container">
    <div class="placeholder-text">DEMO</div>
    <svg id="graph">
      <g ng-repeat="polygonSet in polygons">
        <polygon class="polygon-front" ng-attr-points="{{parsePoints(polygonSet.front, polygonSet.offset)}}" ng-cloak></polygon>
        <polygon class="polygon-top" ng-attr-points="{{parsePoints(polygonSet.top, polygonSet.offset)}}" ng-cloak></polygon>
        <polygon class="polygon-side" ng-attr-points="{{parsePoints(polygonSet.side, polygonSet.offset)}}" ng-cloak></polygon>
      </g>
    </svg>
  </div>
</section>

<!-- Trends Section -->
<section id="trends" ng-show="$root.currentUser">
  <div class="container section-container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 section-header-container">
        <h2>Trends</h2>
      </div>
    </div>
    <div class="row module-row">
      <div class="col-sm-4 module-wrapper">
        <div class="module">
          <h5>Influencers</h5>
          <p>top post by each influencer</p>
            <div class="trend-module" ng-repeat="influencer in user.influencer">
              <img ng-src="{{influencer.data.data[0].user.profile_image_url.replace('_normal.', '.')}}" alt="">
              <div class="trend-submodule-left">
                <a href="http://twitter.com/{{influencer.name}}">@{{influencer.name}}</a> <a class="delete-link" ng-click="removeTracker(influencer.id)">X</a>
              </div>
              <div class="trend-submodule-right">
                  <a href="#">{{influencer.data.data[0].text}}</a>
              </div>
            </div>
            <div ng-repeat="i in user.influencer.addLength track by $index" class="trend-module-add" ng-if="user.influencer.addable">
              <div class="trend-submodule-center">
                <a class="text-center form-link" ng-click="showForm = !showForm" ng-hide="showForm"> click here to add another influencer </a>
              </div>
              <div class="trend-submodule-center" ng-show="showForm">
                <form role="form" ng-submit="createTracker(newTracker, 'influencer')">
                  <div class="form-group">
                    <label for="newTracker">new influencer</label>
                    <input type="text" class="form-control" id="newTracker[{{$index}}]" placeholder="e.g. @someperson" ng-model="newTracker">
                  </div>
                  <button type="submit" class="btn btn-primary" ng-click="showForm = !showForm">Submit</button><button class="btn btn-danger" ng-click="showForm = !showForm">Cancel</button>
                </form>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-4 module-wrapper">
        <div class="module">
          <h5>Mentions</h5>
          <p>top post by each mention</p>
            <div class="trend-module" ng-repeat="mention in user.mention">
              <img ng-src="{{mention.data.data[0].user.profile_image_url.replace('_normal.', '.')}}" alt="">
              <div class="trend-submodule-left">
                <a href="http://twitter.com/{{mention.name}}">@{{mention.name}}</a> <a class="delete-link" ng-click="removeTracker(mention.id)">X</a>
              </div>
              <div class="trend-submodule-right">
                  <a href="#">{{mention.data.data[0].text}}</a>
              </div>
            </div>
            <div ng-repeat="i in user.mention.addLength track by $index" class="trend-module-add" ng-if="user.mention.addable">
              <div class="trend-submodule-center">
                <a class="text-center form-link" ng-click="showForm = !showForm" ng-hide="showForm"> click here to add another mention </a>
              </div>
              <div class="trend-submodule-center" ng-show="showForm">
                <form role="form" ng-submit="createTracker(newTracker, 'mention')">
                  <div class="form-group">
                    <label for="newTracker">new mention</label>
                    <input type="text" class="form-control" id="newTracker[{{$index}}]" placeholder="e.g. @someperson" ng-model="newTracker">
                  </div>
                  <button type="submit" class="btn btn-primary" ng-click="showForm = !showForm">Submit</button><button class="btn btn-danger" ng-click="showForm = !showForm">Cancel</button>
                </form>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-4 module-wrapper">
        <div class="module">
          <h5>Hashtags</h5>
          <p>top hashtag usages</p>
            <div class="trend-module" ng-repeat="hashtag in user.hashtag">
              <img ng-src="{{hashtag.data.data[0].user.profile_image_url.replace('_normal.', '.')}}" alt="">
              <div class="trend-submodule-left">
                <a href="http://twitter.com/{{hashtag.name}}">#{{hashtag.name}}</a> <a class="delete-link" ng-click="removeTracker(hashtag.id)">X</a>
              </div>
              <div class="trend-submodule-right">
                  <a href="#">{{hashtag.data.data[0].text}}</a>
              </div>
            </div>
            <div ng-repeat="i in user.hashtag.addLength track by $index" class="trend-module-add" ng-if="user.hashtag.addable">
              <div class="trend-submodule-center">
                <a class="text-center form-link" ng-click="showForm = !showForm" ng-hide="showForm"> click here to add another hashtag </a>
              </div>
              <div class="trend-submodule-center" ng-show="showForm">
                <form role="form" ng-submit="createTracker(newTracker, 'hashtag')">
                  <div class="form-group">
                    <label for="newTracker">new hashtag</label>
                    <input type="text" class="form-control" id="newTracker[{{$index}}]" placeholder="e.g. #awesome" ng-model="newTracker">
                  </div>
                  <button type="submit" class="btn btn-primary" ng-click="showForm = !showForm">Submit</button><button class="btn btn-danger" ng-click="showForm = !showForm">Cancel</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CTA Section -->
<section id="cta" ng-show="$root.currentUser">
  <div class="container section-container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 section-header-container">
        <h2>CTA</h2>
      </div>
    </div>
    <div class="row module-row">
      <div class="col-sm-12 module-wrapper">
        <div class="module">
          <h5>Email Alert Settings</h5>
            <div ng-show="$root.currentUser">
              <input type="email" ng-model="settings.email" placeholder="Enter your email to recieve notifications">
              <button class="btn btn-primary" ng-click="updateEmail()">{{settings.email ? 'Change' : 'Save'}} Email</button>
              <div ng-show="settings.email">
                <label for="email-toggle">Email notifications are turned {{settings.emailToggle ? 'on' : 'off'}}</label>
                <input type="checkbox" ng-model="settings.emailToggle" name="emailToggle" id="emailToggle" ng-change="updateNotify()">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div ng-hide="$root.currentUser">
  <h1 class="text-center">Please Login to view site</h1>
</div>

</section>