<div class="modal-body">
      <a href="/">
        <img class="close-icon" src="/images/close-icon.png">
      </a>
      <p class="text header">Welcome back!</p>
      <p class="text subheader">Log into your account in here</p>

    <form ng-submit="login(null, email, password)">
      <div class="email-container clearfix">
        <img class="email-icon" src="/images/email-icon.png">
        <input type="email" class="email" placeholder="Email address" type="text" ng-model="email">
      </div>

      <div class="password-container clearfix">
        <img class="password-icon" src="/images/password-icon.png">
        <input type="password" name="password" placeholder="Password" type="text" ng-model="password">
      </div>

      <input type="submit" class="login-btn" value="Log in">
      <div class="clearfix"></div>
    </form>

    <hr>

    <p class="text usersocial">Or</p>

    <a class="sociallogin-btn sociallogin-twitter" ng-click="login('twitter')">Sign in with Twitter</a>
</div>