<div class="modal-body">
  <a href="/" ng-click="cancel()"><img class="close-icon" src="/images/close-icon.png"></a>

  <form method="post" role="form" ng-submit="signup()">
    <legend>Signup</legend>

    <div class="form-group">
      <label for="email-form"><i class="fa fa-envelope"></i></label>
      <input type="email" class="form-control" id="email-form" name="email" placeholder="Email address" ng-model="email">
    </div>
    <div class="form-group">
      <label for="password-form"><i class="fa fa-lock"></i></label>
      <input type="password" class="form-control" id="password-form" name="password" placeholder="Password" ng-model="password">
    </div>
    <div class="form-group">
      <ul>
        <li><button type="submit" class="btn btn-primary">Submit</button></li>
        <li>or</li>
        <li><button class="btn btn-info" ng-click="login('twitter')"><i class="fa fa-twitter" ></i> Login with Twitter</button></li>
      </ul>
    </div>
  </form>
</div>