<div class="modal-body">
  <a href="/">
    <img class="close-icon" src="/images/close-icon.png">
  </a>
  <p class="text header">Sign up you account!!</p>
  <p class="text subheader">Please provide your profile information so<br>we can creat your account.</p>

  <form method="post" ng-submit="signup()">

    <div class="email-container clearfix">
      <img class="email-icon" src="/images/email-icon.png">
      <input name="email" class="email-field" placeholder="Email address" type="text" ng-model="email">
    </div>

    <div class="password-container clearfix">
      <img class="password-icon" src="/images/password-icon.png">
      <input name="password" class="pass-field" placeholder="Password" type="text" ng-model="password">
    </div>

    <input type="submit" class="create-btn" value="Create account">
    <div class="clearfix"></div>
  </form>

    <p class="text usersocial">Or</p>

    <a class="sociallogin-btn sociallogin-twitter" ng-click="login('twitter')">Signup with Twitter</a>

</div>