.section-container ul {
  padding-left: 0;
  list-style-type: none;
}

.section-container ul li {
  display: inline-block;
  font-size: 1.5em;
  margin: 0 5px;
}

.section-header-container > ul li {
  padding: 5px 10px;
  background-color: rgb(216, 216, 216);
  border-radius: 4px;
}

.module-wrapper + .module-wrapper {
  border-left: 4px dotted rgb(186, 186, 186);
}

.module h5 {
  margin-bottom: 0;
}

.module ul {
  margin-bottom: 10px;
}

.module ul li, h5 + p {
  font-size: 0.8em;
  margin: 0 2px;
}

.gray-1 {
  color: rgb(32, 32, 32);
}

.gray-2 {
  color: rgb(64, 64, 64);
}

.gray-3 {
  color: rgb(96, 96, 96);
}

.gray-4 {
  color: rgb(128, 128, 128);
}

.gray-5 {
  color: rgb(160, 160, 160);
}

.gray-6 {
  color: rgb(192, 192, 192);
}

.gray-7 {
  color: rgb(224, 224, 224);
}

.module {
  min-height: 360px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.module-row {
  margin: 5px;
}

.module h5 {
  margin-top: 5px;
}

.submodule-wrapper {
  padding: 5px;
  text-align: left;
}

div[class*="submodule"] {
  margin: 5px;
  font-size: 1.1em;
}

#word-cloud {
  cursor: default;
}

td {
  font-size: 0.8em;
}

#map {
  min-height: 280px;
}

.trend-module {
  position: relative;
  text-align: left;
  vertical-align: top;
  min-height: 96px;
  margin: 2px 10px;
  background-color: rgb(216, 216, 216);
  border-radius: 4px;
}

.trend-module img {
  float: left;
  margin: 6px;
  max-width: 84px;
  max-height: 84px;
  border-radius: 4px;
}

.trend-submodule-left {
  float: left;
  width: 150px;
}

.trend-submodule-right {
  float: right;
  width: 240px;
}

.modal-body {
  color: #333;
  text-align: center;
}

.modal-body .form-group {
  text-align: center;
}

.modal-body label {
  display: inline-block;
  font-size: 1.3em;
  width: 32px;
}

.modal-body .form-control {
  display: inline-block;
  width: 400px;
}

.modal-body ul {
  list-style-type: none;
  padding-left: 0px;
}

.modal-body li {
  display: inline-block;
  margin: 0 10px;
}

.modal-body button {
  border-radius: 4px;
}

.close-icon {
    display: block;
    float: right;
    width: 32px;
    height: auto;
    margin: 5px 5px 0 0;
    overflow: hidden;
}